

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Header */
#header {
  height: 90px;
  width: 100vw;
  background-color: rgb(46, 46, 48);
}
#nav-header {
  padding-top: 20px;
  background-color: rgb(46, 46, 48) !important;
}
#navbarToggler {
  flex-grow: 0;

}
/* All sections */


/* Personal details section */
#personal-details {
  width: 100%;
  height: 600px;
  margin: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#personal-details .image {
  width: 50%;
  background-color: #fff;
}

#personal-details img {
  height: 400px;
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;

}
#personal-details .about {
  width: 50%;
  padding-top: 100px;
  font-size: 1.3rem;
}


/* Skills and technologies section */
#skills {
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
#skills .technologies {
  display: flex;
  flex-direction: row;
}
#skills .front-end {
  background-color: white;
  width: 50%;
  height: 100%;
  
}
#skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#skills li {
  /* background-color: wheat; */
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 120px;
  margin: 1px;
  text-align: center;
}
#skills img {
  width: 100px;
  height: 100;
}

#skills .back-end {
  background-color: white;
  width: 50%;
}



/* Contact section */

#contact {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}
ul.socialIcons {
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin: auto;
  align-items: center;
}

.socialIcons li {
  width: 50px;
  height: 50px;
  list-style: none;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: 400ms;
}

.socialIcons li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  
  white-space: nowrap;
  text-decoration: none;
  font-family: arial;
  color: #fff;
}

.socialIcons li i {
 font-size: 40px;
}
.socialIcons li p {
 display: none;
}
.socialIcons li:hover {
  width: 70px;
  height: 70px; 
}

.socialIcons li:hover p {
  display: inline-block;
  font-size: 13px;
}

.socialIcons li:hover a {
  transform: scale(1.1);

}


.socialIcons .gmail {
  background-color: #00aced;
  box-shadow: 0 0 16px #00aced;
}  
 
.socialIcons .linkedin {
  background-color:rgb(10,102,194);
  box-shadow: 0 0 16px rgb(10,102,194);
}  
 
.socialIcons .facebook {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}
.socialIcons .whatsapp {
  background-color: #1bce89;
  box-shadow: 0 0 16px #1bce89;
}



/* Footer */
#footer {
  height: 100px;
  width: 100vw;
  margin-top: 20px;
  background-color: rgb(46, 46, 48);
  color: white;
}
#footer p{
  text-align: center;
  max-width: fit-content;
  padding-top: 45px;
  margin: 0 auto;
}

/* Media queries */

@media screen and (max-width: 1000px) {
  #content.container {
    margin: 10px;
    width: 100vw !important;
  }
  #personal-details {
    width: 100vw ;
    height: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #personal-details .image {
    width: 90%;
    background-color: white;
  }
  
  #personal-details img {
    height: 300px;
    width: 300px;
    margin: 10px;
    margin-top: 40px;  
  }
  #personal-details .about {
    width: 90%;
    padding-top: 80px;
  }
  #skills .technologies {
    flex-direction: column;
  }
    
  #skills .front-end {
    background-color: white;
    width: 100vw;
  }
    
  #skills .back-end {
    background-color: white;
    width: 100vw;
  }
}


@media screen and (min-width: 1000px) {
  #nav-header {   
    display: flex;
    justify-content: space-between;
   
  }
  #navbarToggler{
   max-width: fit-content;
   margin-right: 10px;
   margin-right: 10px;
   
  }
 
 
}
@media screen and (max-width:600px) {
  #personal-details {
    height: 800px;
  }
}
@media screen and (max-width:450px) {
  #personal-details {
    height: 1000px;
  }
}
@media screen and (max-width:350px) {
  #personal-details {
    height: 1100px;
  }
}

