

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* Personal details section */
#personal-details {
  /* background-color: cadetblue; */
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#personal-details .image {
  width: 50%;
  background-color: white;
}

#personal-details img {
  height: 400px;
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;

}
#personal-details .about {
  width: 50%;
  padding-top: 100px;
}


/* Skills and technologies section */
#skills {
  background-color: cornflowerblue;
  width: 100%;
  height: 500px;
}



/* Additional Skills section  */
#additional-skills {
  background-color: darkcyan;
  width: 100%;
  height: 500px;
}


/* Projects section */
#projects {
  background-color: darkolivegreen;
  width: 100%;
  height: 500px;
}

/* Contact section */

#contact {
  background-color:rgb(8, 53, 53);
  width: 100%;
  height: 500px;
}


#footer {
  height: 100px;
  width: 100vw;
  margin-top: 20px;
  background-color: rgb(46, 46, 48);
  color: white;
}
#footer p{
  text-align: center;
  max-width: fit-content;
  padding-top: 45px;
  margin: 0 auto;
}


@media screen and (max-width: 1000px) {
  #personal-details {
    /* background-color: cadetblue; */
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #personal-details .image {
    width: 90%;
    background-color: white;
  }
  
  #personal-details img {
    height: 300px;
    width: 300px;
    margin: 10px;
    margin-top: 40px;  
  }
  #personal-details .about {
    width: 90%;
    padding-top: 80px;
  }
}


@media screen and (min-width: 1000px) {
  #nav-header {
   
    display: flex;
    justify-content: space-between;
   
  }
  #navbarToggler{
   max-width: fit-content;
   margin-right: 10px;
   margin-right: 10px;
   
  }
 
}

