

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Header */
#header {
  height: 100px;
  width: 100vw;
  background-color: rgb(46, 46, 48);
}
#nav-header {
  padding-top: 40px;
  background-color: rgb(46, 46, 48) !important;
}

/* Personal details section */
#personal-details {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#personal-details .image {
  width: 50%;
  background-color: white;
}

#personal-details img {
  height: 400px;
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;

}
#personal-details .about {
  width: 50%;
  padding-top: 100px;
}


/* Skills and technologies section */
#skills {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#skills .technologies {
  display: flex;
  flex-direction: row;
}
#skills .front-end {
  background-color: white;
  width: 50%;
  height: 100%;
  
}
#skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#skills li {
  /* background-color: wheat; */
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  margin: 1px;
  text-align: center;
}
#skills img {
  width: 100px;
  height: 100;
}

#skills .back-end {
  background-color: white;
  width: 50%;
}


/* Projects section */

#projects {
  background-color:rgb(240,240,240);
  height: 500px;
  width: 100%;
  margin-top: 100px;
}
#desktop-view {
 width: 100%;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
}
#desktop-view .slides-container {
  position: relative;
  width: 100%;
  height: 450px;
  margin:  10px 0 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);

}
#desktop-view .card-group {
  position: absolute;
  width: 100%;
  min-width: 1000px;
  height: 90%;
}
.card {
  height: 450px ;
  width: 300px;
  margin: 20px;
  margin-top: 0px;
  border-radius: 10px;
  

 
}
.card:hover {
  transform: scale(1.02);
  transition-duration: 200ms;
}
.card-img-top {
  height: 230px;
  width: auto;
  background-color:rgb(234,245,254);
}
/* Card body */
.card-body {
  display: inline-block;
  height: 150px;
  padding: 10px;
}


/* Card footer */
.card-footer {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: 0;
  padding: 0;
}
.card-footer a {
  width: 50%;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.card-footer i {
  margin-top: 0px;
  padding-top: 0px;
  color: #000;
}
.fa-link:hover,
.live:hover {
  text-decoration: underline;
  transform: scale(1.01);
}

/* Navigation Arrow */
.desktop-navigation{
   display: flex;
   height: 20px;     
   align-items: center;
   justify-content: center;
 }
.arrow {   
  height: 30px;
  width: 30px;
  margin: 0 8px;
  cursor: pointer;
  transition: 400ms;
  font-size: 20px;

}
/* Navigation Dots */
    
.navigation-dots {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.single-dot {
  background: #333;
  height: 16px;
  width: 16px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: 400ms;
}

.single-dot.active {
  background: #eee;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  #desktop-view {
      display: none !important;
  }
  .desktop-navigation {
      display: none !important;
  }
  #mobile-view {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
  }      
    .mobile-slides-container {
      position: relative;
      height: 500px;
      transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    }
    
    .slide-card {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    .mobile-card {
      height: 95%;
      width: 350px;
      margin: 0;
    }
    .card-body {
      display: inline-block;
      height: 150px;
      padding: 10px;
  }
  
    
  /* Card footer */
  .card-footer {
      display: flex;
      flex-direction: row;
      height: 50px;
      margin: 0;
      padding: 0 10px;
  }
  .card-footer a {
      width: 50%;
      text-decoration: none;
      margin: 0px;
      padding: 0px;
      text-align: center;
  }
  .card-footer i {
      margin-top: 0px;
      padding-top: 0px;
      color: #000;
  }
  .fa-link:hover,
  .live:hover {
      text-decoration: underline;
      transform: scale(1.01);
  }
 
    /* Mobile navigation */
    .mobile-navigation{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 30px;
        width: fit-content;
        margin-left: 30px;
    } 
    .mobile-navigation-dots {
        display: flex;
        height: 32px;
        align-items: center;
        justify-content: center;
        margin: 0;
      }      
}

@media screen and (min-width: 750px ) {
  .mobile-card {
      margin: 10px 30% 0px 30%;
  }
  .mobile-navigation {
      margin: 0 32% 0 32% ;
  }

} 
@media screen and (max-width:750px) {
  .mobile-card {
      margin: 0 20% 0 20%;
  }
  .mobile-navigation {
      margin: 0 22% 0 22% ;
  }
}
@media screen and (max-width:450px) {
  .mobile-card {
      margin: 0 10% 0 10%;
  }
  .mobile-navigation {
      margin: 0 8% 0 8%;
  }
}

@media screen and (max-width: 400px) {

  .mobile-card {
      margin: 10px;
      width: 320px;
      widows: 350px;;
  }
  .prev-btn.arrow {
      padding-right: 0;
      margin-right: 0;
  }
  .mobile-navigation{
      margin-left: 30px;
  }
}

@media screen and (max-width: 350px) {

  .mobile-card {
      margin: 5px;
      width: 280px;
    
  }
  .prev-btn.arrow {
      padding-right: 0;
      margin-right: 0;
  }
  .mobile-navigation{
      margin-left: 5px;
  }
}



@media screen and (min-width: 1200px) {
  #mobile-view {
      display: none !important; 
  }
}


/* Contact section */

#contact {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}
ul.socialIcons {
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin: auto;
  align-items: center;
}

.socialIcons li {
  width: 50px;
  height: 50px;
  list-style: none;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: 400ms;
}

.socialIcons li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  
  white-space: nowrap;
  text-decoration: none;
  font-family: arial;
  color: #fff;
}

.socialIcons li i {
 font-size: 40px;
}
.socialIcons li p {
 display: none;
}
.socialIcons li:hover {
  width: 70px;
  height: 70px; 
}

.socialIcons li:hover p {
  display: inline-block;
  font-size: 13px;
}

.socialIcons li:hover a {
  transform: scale(1.1);

}


.socialIcons .gmail {
  background-color: #00aced;
  box-shadow: 0 0 16px #00aced;
}  
 
.socialIcons .linkedin {
  background-color:rgb(10,102,194);
  box-shadow: 0 0 16px rgb(10,102,194);
}  
 
.socialIcons .facebook {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}
.socialIcons .whatsapp {
  background-color: #1bce89;
  box-shadow: 0 0 16px #1bce89;
}



/* Footer */
#footer {
  height: 100px;
  width: 100vw;
  margin-top: 20px;
  background-color: rgb(46, 46, 48);
  color: white;
}
#footer p{
  text-align: center;
  max-width: fit-content;
  padding-top: 45px;
  margin: 0 auto;
}

/* Media queries */

@media screen and (max-width: 1000px) {
  #personal-details {
    /* background-color: cadetblue; */
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #personal-details .image {
    width: 90%;
    background-color: white;
  }
  
  #personal-details img {
    height: 300px;
    width: 300px;
    margin: 10px;
    margin-top: 40px;  
  }
  #personal-details .about {
    width: 90%;
    padding-top: 80px;
  }
}


@media screen and (min-width: 1000px) {
  #nav-header {
   
    display: flex;
    justify-content: space-between;
   
  }
  #navbarToggler{
   max-width: fit-content;
   margin-right: 10px;
   margin-right: 10px;
   
  }
 
}

